{% extends "base.html" %}
{% block main %}
<div class="container car-model">
  <div class="car-header">
    <img src="http://www.carlogos.org/logo/Mercedes-Benz-logo.jpg">
    Mercedes-Benz / A6
  </div>
  <ul class="car-ul car-ul_toggle">
    {% for i in range(0,8) %}
    <li>
      <a href="#">2016</a>
      <ul class="car-ul_toggle__nested">
        {% for j in range(0,4) %}
        <li><a href="car.html">something</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block js %}
<script>
  $(".car-ul_toggle > li > a").bind("click", function(e){
    e.preventDefault();
    $(this).parent("li").toggleClass("active");
    $(this).siblings("ul").slideToggle();
  });
</script>
{% endblock %}
