{% extends "base.html" %}
{% block main %}

<div class="top-bar">
  <a href="javascript:window.history.back();" class="float-left"><i class="fa fa-angle-left fa-lg"></i></a>
  <span>购物车</span>
</div>


<div class="container cart">

  {% for i in range(0,2) %}
  <table>
    <tr>
      <th><input type="checkbox" id="checkbox{{ i }}"><label for="checkbox{{ i }}"></label></th>
      <th colspan=4><img src="http://download.easyicon.net/png/1194882/128/">商家名</th>
    </tr>
    {% for j in range(0,2) %}
    <tr>
      <td><input type="checkbox" id="checkbox{{ i }}-{{ j }}"><label for="checkbox{{ i }}-{{ j }}"></label></td>
      <td><a href="commodity.html"><img src="https://s-media-cache-ak0.pinimg.com/564x/f0/2e/5a/f02e5abdb78e0323b34491809503e38a.jpg"></a></td>
      <td><p>商品名</p><p><span>型号: 黑/1969</span></p></td>
      <td><p><span class="price">1200</span></p><p><span>x1</span></p></td>
    </tr>
    {% endfor %}
  </table>
  {% endfor %}

</div>

<div class="cart__checkout">
  <input type="checkbox" id="checkoutbox"><label for="checkoutbox">全部</label>
  <span>价格:</span><span class="price">1200</span>
  <a href="order_create.html">确认</a>
</div>
{% endblock %}
{% block js %}
<script>
$(function(){
  $(".cart__checkout").addClass("cart__checkout_active");
});
</script>
{% endblock %}
