{% extends "base.html" %}
{% block main %}

<div class="top-bar">
  <a href="javascript:window.history.back();" class="float-left"><i class="fa fa-angle-left fa-lg"></i></a>
  <span>title</span>
</div>


<div class="container cart">
  {% for i in range(0,2) %}
  <div class="cart__item">
    <div class="cart__header">
      <a href="#" class="float-right"><i class="fa fa-trash"></i></a>
      <input type="checkbox" id="checkbox{{ i }}"><label for="checkbox{{ i }}"></label>
    </div>
    <div class="cart__main">
      <a href="commodity.html" class="cart__cover">
        <img src="https://s-media-cache-ak0.pinimg.com/564x/7a/d6/fa/7ad6fad30533719643ec3f839aa5ce26.jpg">
      </a>
      <div class="cart__title">
        <p>Lalala</p>
        <p><span>count: 1</span></p>
        <p><span>param: black/1969</span></p>
        <p><span>price:</span><span class="price">1200</span></p>
      </div>
    </div>
    <div class="cart__action">
      <a href="order_create.html">buy now</a>
    </div>
  </div>
  {% endfor %}

</div>

<div class="cart__checkout">
  <input type="checkbox" id="checkoutbox"><label for="checkoutbox">ALL</label>
  <span>price:</span><span class="price">1200</span>
  <a href="order_create.html">checkout</a>
</div>
{% endblock %}
{% block js %}
<script>
$(function(){
  $(".cart__checkout").addClass("cart__checkout_active");
});
</script>
{% endblock %}
