{% extends "base.html" %}
{% block main %}
<div class="top-bar commodity-topbar">
  <a href="javascript:window.history.back();" class="float-left"><i class="fa fa-angle-left fa-lg"></i></a>
  <ul id="nav">
    <li class="active"><a href="#commodity-main">商品</a></li>
    <li><a href="#commodity-intro">详情</a></li>
    <li><a href="#commodity-comments">评价</a></li>
  </ul>
  <a class="float-right" href="cart.html"><i class="fa fa-shopping-cart"></i></a>
</div>

<div class="container commodity">
  <div class="section" id="commodity-main">

  <div class="commodity__header">
    <div class="slide" style="height:50vh;">
      <ul class="slide__main">
        <li><a href="#" style="background-image:url(https://s-media-cache-ak0.pinimg.com/564x/d2/39/38/d23938218aa1bea612b4679b93ae082e.jpg);"></a></li>
        <li><a href="#" style="background-image:url(https://s-media-cache-ak0.pinimg.com/564x/d4/c3/a3/d4c3a342332ff8f046c91e327512e1a6.jpg);"></a></li>
        <li><a href="#" style="background-image:url(https://s-media-cache-ak0.pinimg.com/236x/ec/e4/53/ece453552a581f88e9c17e7b21bfa025.jpg);"></a></li>
      </ul>
      <ul class="slide__nav">
        {% for i in range(0,3) %}
        <li {% if i==0 %} class="active" {% endif %}><a href="#"></a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="commodity__title">
      <p>69's Camaro</p>
      <span class="price"><i class="fa fa-rmb" style="font-size:0.6rem"></i>1200</span>
    </div>
  </div>

  <div class="commodity__param">
    <div class="commodity__param__item">
      <span class="float-right">黑/白</span>
      <h6>颜色:</h6>
    </div>
    <div class="commodity__param__item">
      <span class="float-right">175/180</span>
      <h6>尺寸:</h6>
    </div>
    <div class="commodity__param__item">
      <span class="price float-right">12.00</span>
      <h6>运费:</h6>
    </div>
  </div>
  </div>

  <div class="section" id="commodity-intro">
    <div class="section__container">
  <div class="commodity__intro">
    <h6 class="section__title">商品详情</h6>
    <img src="https://s-media-cache-ak0.pinimg.com/564x/03/85/83/0385836471cb888c8a2771039513d17f.jpg">
  </div>
    </div>
  </div>

  <div class="section commodity__comments" id="commodity-comments">
    <div class="section__container">
    <h6 class="section__title">评价</h6>
    {% for i in range(0,6) %}
    <div class="comment-list">
      <div class="comment-list__header">
        用户名<span>2016/12/12</span>
      </div>
      <div class="comment-list__main">
        商品评价内容
        商品评价内容
        商品评价内容
        商品评价内容
        商品评价内容
      </div>
      <div class="comment-list__footer">
        <span>商品型号参数</span>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>

<div class="commodity-action">
  <table>
    <tr>
      <td><i class="fa fa-comments-o fa-lg"></i><p>客服</p></td>
      <td><a href="shop.html"><i class="fa fa-home fa-lg"></i><p>店铺</p></a></td>
      <td><i class="fa fa-star-o fa-lg"></i><p>收藏</p></td>
      <td style="background:#FD9303;color:white;" data-select-toggle >加入购物车</td>
      <td style="background:#EB5805;color:white;" data-select-toggle >立即购买</td>
    </tr>
  </table>
</div>


<div class="commodity-select_bg" data-select-toggle></div>
<div class="commodity-select">
  <div class="commodity-select__header">
    <a href="#" data-select-toggle class="float-right"><i class="fa fa-remove"></i></a>
    <div>
      <p><span class="price">1200</span></p>
      <p>param:</p>
    </div>
    <img src="https://s-media-cache-ak0.pinimg.com/564x/f7/78/4f/f7784f36ed59f89f17b375b063fa3932.jpg">
  </div>
  <div class="commodity-select__param">
    <h6>color</h6>
    <ul>
      {% for i in range(0,9) %}
      <li><a href="#">somecolor</a></li>
      {% endfor %}
    </ul>
    <h6>count
      <div>
        <i>-</i>
        <span>1</span>
        <i>+</i>
      </div>
    </h6>

  </div>
  <div class="commodity-select__action">
    <a href="#">add</a>
    <a href="#">buy</a>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.bootcss.com/jquery-one-page-nav/3.0.0/jquery.nav.min.js"></script>
<script>
  $(function(){

    /** nav **/
    $("#nav").onePageNav({
      currentClass: "active"
    });

    $(".commodity-select__param ul a").on("click", function(e){
      e.preventDefault();
      $(this).parent("li").addClass("active");
      $(this).parent("li").siblings("li").removeClass("active");
    });

    $("[data-select-toggle]").on("click", function(e){
      e.preventDefault();
      $(".commodity-select").toggleClass("commodity-select_active");
      $(".commodity-select_bg").toggle();
    });
  });
</script>
{% endblock %}
