{% extends "base.html" %}
{% block main %}
<div class="top-bar commodity-topbar">
  <a href="javascript:window.history.back();" class="float-left"><i class="fa fa-angle-left fa-lg"></i></a>
  <span>评价</span>
</div>

<div class="container comment">
  <div class="comment__form">
    <form>
      <table>
        <tr>
          <td colspan=2>
            <textarea rows=5 placeholder="分享你的购买心得"></textarea>
          </td>
        </tr>
        <tr>
          <td><label>描述相符</label></td>
          <td><input type="star"></td>
        </tr>
        <tr>
          <td><label>服务态度</label></td>
          <td><input type="star"></td>
        </tr>
        <tr>
          <td><label>物流服务</label></td>
          <td><input type="star"></td>
        </tr>
      </table>
    </form>
  </div>
</div>

<div class="comment__action">
  <input type="submit" value="提交评论" class="button">
</div>
{% endblock %}
{% block js %}
<script src="js/star.js"></script>
{% endblock %}
