{% extends "base.html" %}
{% block main %}

<div class="container">

  <div style="box-shadow:0 2px 6px 0 rgba(0,0,0,0.2);">
  <!-- topbar -->
  <div class="top-bar top-bar_primary">
    <a href="javascript:window.history.back();" class="float-left"><i class="fa fa-angle-left fa-lg"></i></a>
    <span>标题</span>
  </div>

  <!-- tabs -->
  <div class="tabs" style="box-shadow:none;">
    <ul>
      <li class="active"><a href="#">标题1</a></li>
      <li><a href="#">标题2</a></li>
      <li><a href="#">标题3</a></li>
    </ul>
  </div>
  <!-- tabs end -->
  </div>

  <div style="padding: 1rem;">

    <!-- coupon -->
    {% for i in range(0,3) %}
    <!-- is is used, use coupon_used class, if expired, use coupon_expired -->
    <div class="coupon 
      {% if loop.index == 2 %}coupon_used{% endif %}
      {% if loop.index == 3 %}coupon_expired{% endif %}">
      <!-- bg-*** is background color, http://juss.findchen.com -->
      <div class="coupon__left bg-orange">
        <h2><i class="fa fa-rmb"></i>120</h2>
        <span>满200可用</span>
      </div>
      <div class="coupon__right">
        <p>标题</p>
        <p><span>2017.01.01-2017.02.01</span><a href="javascript:;">立即使用</a></p>
      </div>
    </div>
    {% endfor %}
    <!-- coupon end -->

  </div>

</div>
{% endblock %}
