{% extends "base.html" %}
{% block topbar %}{% endblock %}
{% block main %}
<div class="container home">
  <div class="home__header">
    <img src="img/home_header.png">
  </div>
  <div class="home__main">

    <a href="category.html">
      <img src="img/home_icon1.png">
      <div>Buy</div>
    </a>
    <a href="shop_main.html">
      <img src="img/home_icon2.png">
      <div>Shop</div>
    </a>
    <a href="register.html">
      <img src="img/home_icon3.png">
      <div>Register</div>
    </a>

    <a href="shop_list.html">
      <img src="img/home_icon4.png">
      <div>Shop List</div>
    </a>

  </div>
</div>
{% endblock %}
