{% extends "base.html" %}
{% block main %}
<div class="top-bar">
  <a href="javascript:window.history.back();" class="float-left"><i class="fa fa-angle-left fa-lg"></i></a>
  <span>我的积分</span>
</div>

<div class="container integral ">
  <div class="integral__header">
    <h5>120<small>积分</small></h5>
  </div>
  <div class="integral__logs">
    <h5>积分记录</h5>
    <ul>
      {% for i in range(0,5) %}
      <li><a href="#">2016/12/12 12:12 评价送积分20</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
