{% extends "base.html" %}
{% block main %}
<div class="top-bar">
  <a href="javascript:window.history.back();" class="float-left"><i class="fa fa-angle-left fa-lg"></i></a>
  <span>我的订单</span>
</div>

<div class="container order-create">

  <div class="order-create__item">
    <h5>Commodity</h5>
    <div class="order-create__content">
      {% for i in range(0,2) %}
      {% include "commodity_item.html" %}
      {% endfor %}
    </div>
  </div>

  <div class="order-create__item">
    <h5>Address</h5>
    <div class="order-create__content">
      {% for i in range(0,3) %}
      <div class="order-create__address {% if loop.first %}order-create__address_active{% endif %}">
        <h6>ChanMo<span>15550000000</span></h6>
        <p>China, Luoyang</p>
      </div>
      {% endfor %}
    </div>
  </div>


  <div class="order-create__item">
    <h5>Price</h5>
    <div class="order-create__content">
      <p>Price:<span class="float-right">1200</span></p>
      <p>devialy:<span class="float-right">20</span></p>
      <p>Price All:<span class="float-right price">1220</span></p>
    </div>
  </div>
</div>


<div class="order-create-action">
  <a href="order_create_success.html">确定</a>
</div>
{% endblock %}
