{% extends "base.html" %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block main %}
<div class="container shop-list">
  <div class="shop-list__search">
    <input type="search" placeholder="search">
  </div>
  <div class="shop-list__filter">
    <ul>
      <li><a href="#">Hot</a></li>
      <li><a href="#">Sale</a></li>
      <li><a href="#">Price</a></li>
      <li><a href="#">Filter</a></li>
    </ul>
  </div>
  <div class="shop-list__main">
    <ul>
      <li><a href="#">Findchen</a></li>
    </ul>
  </div>
</div>
{% endblock %}
