{% extends "base.html" %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block main %}
<div class="shop-topbar">
 <a class="float-left" href="javascript:window.history.back();"><i class="fa fa-angle-left fa-lg"></i></a>
  <span>shop edit</span>
</div>

<div class="container shop-edit">
  <form>
    <label>name
      <input type="text" name="name">
    </label>
    <label>mobile
      <input type="tel" name="mobile">
    </label>
    <label>address
      <input type="text">
    </label>
    <label>old password
      <input type="password">
    </label>
    <label>new password
      <input type="password">
    </label>
    <label>re password
      <input type="password">
    </label>
    <input type="submit" value="save">
  </form>
</div>
{% endblock %}
