{% extends "base.html" %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}
{% block main %}
<div class="shop-topbar">
 <a class="float-left" href="javascript:window.history.back();"><i class="fa fa-angle-left fa-lg"></i></a>
  <span>order something</span>
</div>

<div class="container shop-order">
  <p>car: <span>Audi A6</span></p>
  <p>name: <span>chan</span></p>
  <p>mobile: <span>15550000000</span></p>
  <p>time: <span>2016/11/11 00:00<span></p>
  <p>price: <span>1200</span></p>
</div>
{% endblock %}
