.cart {
  padding: 1rem .5rem 3.5rem; }
  .cart__item {
    background: white;
    padding: 0 .5rem;
    margin-bottom: .5rem; }
  .cart__header {
    height: 2rem;
    line-height: 2rem;
    border-bottom: 1px dashed #efefef; }
    .cart__header .fa-trash {
      color: darkgrey; }
  .cart__main {
    padding: .5rem 0;
    display: flex;
    border-bottom: 1px dashed #efefef; }
  .cart__cover {
    display: block;
    width: 30vw;
    height: 30vw; }
  .cart__title {
    width: 70vw;
    padding: 0 .5rem; }
    .cart__title p {
      margin: 0; }
    .cart__title span {
      color: darkgrey; }
  .cart__action {
    padding: .5rem 0;
    text-align: right; }
    .cart__action a {
      display: inline-block;
      padding: .3rem 1.5rem;
      background: #FFA530;
      color: white;
      font-size: 0.85rem; }

.cart__checkout {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  padding-left: 1rem;
  background: white;
  text-align: center;
  transform: translateX(-100%);
  transition: all .4s; }
  .cart__checkout label {
    float: left; }
  .cart__checkout a {
    display: block;
    float: right;
    width: 35vw;
    height: 100%;
    background: #FFA530;
    color: white;
    text-align: center; }

.cart__checkout_active {
  transform: translateX(0); }
