.order-create {
  padding: .5rem .5rem 3.5rem; }
  .order-create p {
    margin: 0;
    font-size: 0.85rem; }
  .order-create__item {
    background: white;
    margin-bottom: .5rem; }
  .order-create h5 {
    margin: 0;
    padding: .5rem;
    border-bottom: 1px solid #efefef; }
    .order-create h5 a {
      color: darkgrey;
      float: right; }
  .order-create__content {
    padding: .5rem; }
  .order-create .commodity-item:not(:last-child) {
    border-bottom: 1px dashed #efefef; }
  .order-create__address {
    padding: .5rem .5rem .5rem 2rem;
    box-sizing: border-box;
    position: relative; }
    .order-create__address:not(:last-child) {
      border-bottom: 1px solid #efefef; }
    .order-create__address h6 {
      margin-bottom: .3rem; }
    .order-create__address span {
      float: right; }
    .order-create__address p {
      color: darkgrey; }
    .order-create__address:before {
      content: "\f041";
      font-family: 'FontAwesome';
      color: #FFA530;
      position: absolute;
      top: 50%;
      left: .5rem;
      opacity: 0;
      transition: all .5s; }
  .order-create__address_active:before {
    content: "\f041";
    font-family: FontAwesome;
    color: #FFA530;
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    opacity: 1; }
  .order-create__shop ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .order-create__shop ul a {
      display: block;
      padding: .5rem 1rem;
      border-bottom: 1px dashed #eee;
      color: grey; }
  .order-create__shop_active a {
    color: #FFA530 !important; }

.order-create-success__main {
  margin: 2rem auto;
  width: 80%;
  background: white;
  padding: .5rem 1rem; }

.order-create-action {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: right;
  padding: 0 1rem;
  background: white;
  border-top: 1px solid #eee; }
  .order-create-action a {
    color: black; }
    .order-create-action a:after {
      content: '\f061';
      font-family: FontAwesome;
      margin-left: .5rem; }
