.category-tree {
    display: flex;
    height: 100vh;
    &__left {
        width: 30%;
        height: 100%;
        ul {
            max-height: 100%;
            overflow: scroll;
            margin: 0;
            padding: 0;
            list-style-type: normal;
            li {
                height: 3rem;
                line-height: 3rem;
                text-align: center;
                border-bottom: 1px solid #eee;
                background: white;
                a {
                    color: black;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .active {
                background: transparent;
                a {
                    color: red;
                }
            }
        }
    }
    &__right {
        width: 70%;
        max-height: 100%;
        overflow: scroll;
        padding: .5rem;
        display: none;
        &:nth-child(2) {
            display: block;
        }
        &__header {
            margin-bottom: .5rem;
        }
        &__item {
            h6 {
                margin: .5rem 0;
                padding-left: .2rem;
            }
        }
        &__content {
            background: white;
            margin-bottom: .5rem;
            padding: .2rem;
            &:after {
                content: '';
                clear: both;
                display: block;
            }

            a {
                display: block;
                width: 100% * 1/3;
                float: left;
                color: black;
                &:hover {
                    text-decoration: none;
                }
                p {
                    text-align: center;
                }
            }
        }
    }
}
