$primary-color: #d94539;

.commodity-topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(white, 1);
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline-block;
        a {
          display: inline-block;
          height: calc(3rem - 4px);
          line-height: calc(3rem - 4px);
          padding: 0 .2rem;
          margin: 0 .5rem;
          border-bottom: 2px solid transparent;
        }
      }
      .active {
        a {
          border-color: $primary-color;
          color: $primary-color;
          text-decoration: none;
        }
      }
    }
    a,a:hover,a:active {
        color: #333;
        text-decoration: none;
    }
}
.commodity {
    padding: 0 0 3.5rem;
    &__header {
        margin-bottom: .5rem;
        background: white;
    }
    &__title {
        padding: 0.5rem;
        p {
            margin: 0;
        }
    }

    &__param {
        margin-bottom: .5rem;
        padding: .5rem;
        background: white;
        &__item {
          &:not(:last-child){
            border-bottom: 1px dashed #efefef;
          }
            padding: .5rem 0;
            h6 {
                margin: 0;
                font-weight: 0;
            }
        }
        ul {
            margin: .5rem 0 0;
            padding: 0;
        }
        li {
            display: inline-block;
        }
        li a {
            padding: .3rem 1rem;
            border-radius: .5rem;
            background: lightgrey;
            color: rgba(black, 0.6);
        }
        .active a {
            background: #FFA530;
            color: white;
        }
    }

    &__intro {
        background: white;
        img {
            max-width: 100%;
            height: auto !important;
        }
    }

    .section {
      padding-top: 3rem;
      margin-top: -3rem;
      &__container {
        margin-top: 1rem;
        background: white;
        padding: 1rem .5rem;
      }
      &__title {
        //margin: 0 .5rem;
        border-left: 3px solid $primary-color;
        padding-left: .5rem;
      }
    }

    &__comments {
      .comment-list {
        &:not(:last-child){
          border-bottom: 1px solid #eee;
        }
        padding-bottom: .5rem;
        span {
          color: #666;
          font-size: 0.75rem;
        }
        &__header {
          line-height: 2rem;
          font-size: 0.85rem;
          color: #333;
          span {
            float: right;
          }
        }
        &__main {
          white-space: normal;
          font-size: 0.85rem;
          color: #333;
        }
      }
    }
}

.commodity-action {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 -1px 2px lightgrey;
    table {
      margin: 0;
      td {
        padding: .5rem 0;
        text-align: center;
        vertical-align: middle;
        font-size: 0.85rem;
        border: none;
        i {
          color: #666;
        }
        p {
          margin: 0;
          font-size: 0.75rem;
          color: #666;
        }
      }
    }
}

.commodity-select_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(black, 0.4);
    z-index: 9999;
    display: none;
}

.commodity-select {
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    //height: 70vh;
    background: white;
    transform: translateY(120%);
    transition: all 0.5;
    .fa-remove {
        color: #333;
    }
    &__header {
        padding: .5rem;
        position: relative;
        border-bottom: 1px solid #eee;
        &:after {
            content: '';
            clear: both;
            display: block;
        }
        img {
            position: absolute;
            bottom: 1rem;
            left: 5%;
            width: 40%;
            box-sizing: border-box;
            border: 1px solid #ddd;
        }
        div {
            margin-top: 1.5rem;
            padding: 0 0 0 50%;
            p {
                margin: 0;
            }
            .price {
                color: red;
            }
        }
    }
    &__param {
        height: 50vh;
        max-height: 50vh;
        overflow: scroll;
        padding: 1rem;
        h6 {
            margin: .5rem 0;
            div {
                display: inline-block;
                float: right;
                border: 1px solid lightgrey;
                height: 1.5rem;
                line-height: 1.5rem;
                border-radius: 5px;
                span {
                    border-left: 1px solid lightgrey;
                    border-right: 1px solid lightgrey;
                    display: inline-block;
                    box-sizing: border-box;
                    font-size: 0.85rem;
                    overflow: hidden;
                    max-height: 100%;
                    float: left;
                    width: 2rem;
                    text-align: center;
                }
                i {
                    float: left;
                    display: inline-block;
                    width: 1.5rem;
                    text-align: center;
                    font-style: normal;
                }
            }
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li,a {
                display: inline-block;
            }
            a {
                border-radius: 5px;
                border: 1px solid #ddd;
                padding: .2rem 1rem;
                margin-bottom: .5rem;
                color: #333;
            }
            .active a {
                border-color: red;
            }
        }
    }
    &__action {
        height: 3rem;
        line-height: 3rem;
        display: flex;
        a {
            display: block;
            width: 50%;
            text-align: center;
            color: white;
            &:nth-child(1){
                background: orange;
            }
            &:nth-child(2){
                background: red;
            }
        }
    }
}
.commodity-select_active {
    transform: translateY(0);
}
