@mixin comment {
  $primary-color: #F24D16;

  .comment {
    padding: 1rem 0;

    .textarea {
      padding: 0 !important;
      textarea {
        margin: 0;
        padding: .5rem;
        height: auto;
        line-height: auto;
        border: none;
        background: rgba(black, 0.06);
        font-size: 0.8rem;
      }
    }

    label {
      font-size: 0.8rem;
      color: rgba(black, 0.54);
    }

    input[type='checkbox']:checked + label:before {
      color: $primary-color;
    }

    /** common **/
    .star_list {
      display: inline-block;
      width: auto !important;
      float: none !important;
      letter-spacing: 5px;
      .fa-star {
        color: $primary-color;
      }
    }

    table {
      margin: 0;
      td {
        padding: .5rem;
        border: none;
        background: transparent;
      }
    }

    p {
      font-size: 0.85rem;
      color: rgba(black, 0.87);
    }
    
    .cover {
      width: 25%;
    }

    .button {
      margin: 0 .5rem 0 0;
      padding: 0 1rem;
      font-size: 0.8rem;
    }
    &__commodity-list {
      table {
        margin: 0;
        tr {
          &:not(:last-child){
            border-bottom: 1px solid rgba(black, 0.06);
          }
          td {
            padding: .5rem;
            border: none;
          }
        }
      }
    }

    &__order {
      margin-bottom: .5rem;
      &__header {
        padding: 0 1rem;
        line-height: 2.5rem;
        font-size: 0.85rem;
        color: rgba(black, 0.87);
        border-bottom: 1px solid rgba(black, 0.12);
      }
      &__form {
        margin: 0;
        border-bottom: 1px solid rgba(black, 0.12);
        tr {
          td {
            padding: .5rem 1rem;
            border: none;
            vertical-align: middle;
            font-size: 0.8rem;
            color: rgba(black, 0.54);
          }
        }
      }
      &__action {
        padding: .5rem;
        text-align: right;
      }

    }

    &__action {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      .button {
        display: block;
        width: 100%;
        margin: 0;
        line-height: 2rem;
        font-size: 0.85rem;
      }
    }
  }
}
