@mixin home2 {
  $primary-color: #d9325d;
  .home2 {


    &__subheader {
      position: relative;
      h6 {
        display: inline-block;
        margin: .5rem 0;
        padding: .5rem 1rem;
        border-radius: 0 1rem 1rem 0;
        font-size: 0.85rem;
        background: $primary-color;
        color: white;
      }
      span {
        padding: .5rem 1rem;
        font-size: 0.75rem;
        color: rgba(black, 0.54);
      }
    }

    .recommend-scrolling {
      margin: 0;
      padding: .5rem .5rem 0 .5rem;
      width: auto;
      white-space: nowrap;
      border-top: 1px solid rgba(black, 0.08);
      overflow-y: scroll;
      list-style-type: none;
      li {
        display: inline-block;
        margin-right: .5rem;
        a {
          display: block;
          img {
            width: 25vw;
            height: 25vw;
            margin-bottom: .2rem;
          }
          p {
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }

    &__commodity-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      a {
        display: block;
        float: left;
        margin-bottom: .3rem;
        width: 48%;
        img {
          margin-bottom: .5rem;
        }
        p {
          padding: 0 .5rem;
        }
      }
    }

    /** a **/
    a,a:hover {
      text-decoration: none;
    }

    p {
      margin-bottom: .2rem;
      line-height: 1rem;
      font-size: 0.85rem;
      color: rgba(black, 0.87);
    }

    /** common **/
    table {
      margin: 0;
      background: transparent;
      tbody {
        background: transparent;
      }
      td {
        border: none;
        vertical-align: middle;
        text-align: center;
        background: transparent;
      }
    }

    /** topbar **/
    .top-bar {
      padding: 0;
      height: auto;
      background: $primary-color;
      td {
        padding: 0 .5rem;
        &:nth-child(2) {
          padding: 0 0;
        }
      }
      label {
        input {
          margin: 0;
          height: 2rem;
          line-height: 2rem;
          border: none;
          border-radius: .3rem;
        }
      }
      a {
        color: white;
      }
    }

    /** banner **/

    /** nav-block **/
    .nav-block {
      padding: .8rem 0;
      td {
        padding: .3rem 0;
      }
      a {
        img {
          width: 15vw;
        }
        span {
          display: block;
          margin-top: .2rem;
          font-size: 0.75rem;
          color: rgba(black, 0.54);
        }
      }
    }

    @keyframes notice {
      0% {
        opacity: 0;
        transform: translateY(0%);
      }
      20% {
        opacity: 1;
        transform: translateY(-50%);
      }
      80% {
        opacity: 1;
        transform: translateY(-50%);
      }
      100% {
        opacity: 0;
        transform: translateY(-100%);
      }
    }
    
    @-webkit-keyframes notice {
      0% {
        opacity: 0;
        transform: translateY(0%);
      }
      20% {
        opacity: 1;
        transform: translateY(-50%);
      }
      80% {
        opacity: 1;
        transform: translateY(-50%);
      }
      100% {
        opacity: 0;
        transform: translateY(-100%);
      }
    }
 
    .notice-scrolling {
      position: absolute;
      top: 50%;
      display: inline-block;
      visibility: hidden;
      opacity: 0;
      transform: translateY(100%);
      transition: all .5s;
    }
    .notice-scrolling_active {
      animation: notice 3s;
      -webkit-animation: notice 3s;
      visibility: visible;
      //transform: translateY(-50%);
    }
  }
  .sub-list {
    background: rgba(black, 0.06);
    form {
      table {
        margin: 0;
        background: transparent;
        td {
          padding: .8rem 3vw;
          border: none;
          select {
            margin: 0;
            height: auto;
            line-height: 1.6rem;
            border-color: $primary-color;
            border-radius: .5rem;
            background: white;
          }
        }
      }
    }

    .sub-header {
      padding: .5rem 0;
      background: white;
      h6 {
        display: inline-block;
        margin: 0 1rem 0 0;
        padding: .5rem 1rem;
        border-radius: 0 1rem 1rem 0;
        font-size: 0.85rem;
        background: $primary-color;
        color: white;
      }
      span {
        font-size: 0.8rem;
      }
    }

    .goods {
      padding: .5rem 0 0;
      &:before, &:after {
        content: '';
        display: block;
        clear: both;
      }
      a {
        display: block;
        padding: 0 .5rem .5rem .5rem;
        box-sizing: border-box;
        width: 50%;
        float: left;
        &:nth-child(2n+1) {
          padding-right: 0.25rem;
        }
        &:nth-child(2n) {
          padding-left: 0.25rem;
        }
        div {
          background: white;
          p {
            margin: 0;
            padding: 0 .5rem;
            //line-height: 1.5rem;
            font-size: 0.8rem;
            color: rgba(black, 0.87);
            span {
              color: $primary-color;
            }
          }
        }
      }
    }

  }
}
